flask
flask-cors
requests
pypdf
opencv-python
python-obd
firebase-admin
python-dotenv
gunicorn
pandas
sqlalchemy
transformers
torch
ultralytics
langchain-community
chromadb
sentence-transformers
datasets